/*General page styling */
html {
  height: auto;
}

.full-wdith {
  width: 1200px;
}

.half-width {
  float: left;
  width: 600px;
}

/* Header section */

/* Quotes section */

/* About section */

/*Contact section */

/*Footer section */
