/*General page styling */
html {
  font-family: 'Montserrat', monospace;
  font-size: 22px;
  line-height: 40px;
  height: auto;
}

h1 {
  color: 	#e7ebf2;
  font-family: 'Niconne', serif;
  font-size: 96px;
  padding-top: 10px;
  text-align: center;
}

h2 {
  font-family: 'Inconsolata', sans-serif;
}

.full-wdith {
  width: 1200px;
}

.half-width {
  float: left;
  width: 600px;
}

nav, #quote, #about, #footer {
  height: auto;
  padding: 50px 100px;
}

/* Header section */

#header {
  background: url(images/erik-witsoe-GF8VvBgcJ4o-unsplash.jpg) center no-repeat;
  background-size: cover;
  height: 600px;
}

/* Navigation within the header */
nav {
  font-size: 16px;
  text-align: right;
}

nav ul li {
  display: inline-block;
  padding: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Quotes section */
#quote {
  background-color: #e7ebf2;
}

#quote #movie-quote {
  text-align: center;
}

#quote #movie-title {
  text-align: right;
}

/* About section */
#about {
  background-color: #517fbf;
  text-align: justify;
}

/*Contact section */
#contact {
  background-color: #79a1d8;
  height: 500px;
  padding: 50px 100px;
}

#contact p {
  font-size: 18px;
  padding-top: 50px;
}

#contact #col-1 {
  width: 500px;
}

#contact #col-2 {
  padding-left: 150px;
  width: 350px;
}

#contact form {
  font-size: 16px;
}

form span {
  font-size: 12px;
}
/*Footer section */
#footer {
  background-color: #79a1d8;
  height: 80px;
  padding-top: 50px;
}

#footer p {
  font-size: 12px;
}
#footer #social-media {
  width: 500px;
}
#social-media ul li {
  display: inline-block;
  float: right;
  padding: 0 5px;
}
