/*General page styling */
html {
  font-family: 'Montserrat', monospace;
  font-size: 22px;
  line-height: 40px;
  height: auto;
}

h1 {
  font-family: 'Niconne', serif;
}

h2 {
  font-family: 'Inconsolata', sans-serif;
}

.full-wdith {
  width: 1200px;
}

.half-width {
  float: left;
  width: 600px;
}

#quote, #about {
  padding: 0 100px;
}

/* Header section */

/* Quotes section */
#quote {
  height: 200px;
}
#quote p {
  text-align: center;
}

#quote #movie-title {
  text-align: right;
}

/* About section */

/*Contact section */

/*Footer section */
